/*
 * Less functions
 */
.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-khtml-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}

.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-khtml-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@arguments) {
	-webkit-transition: @arguments;
	-khtml-transition: @arguments;
	-moz-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

.transform(@arguments) {
	-webkit-transform: @arguments;
	-khtml-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	transform: @arguments;
}
.box-sizing(@arguments) {
	-webkit-box-sizing: @arguments;
	-moz-box-sizing: @arguments;
	box-sizing: @arguments;
}
.font-smoothing(@arguments) {
	-webkit-font-smoothing: @arguments;
}

/*
 * Defaults
 */
body {
	font: 12px/16px "Open Sans", "Helvetica", "Arial", sans-serif;
	.font-smoothing(antialiased);
	text-rendering: optimizeLegibility;
	background: #eeeee7;
}