#marker-icon-metabox .marker-icon-container {
	float: left;
	width: 33%;
	position: relative;
	height: 300px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}

#marker-icon-metabox .marker-icon-container .tip {
	display: none;
}

#marker-icon-metabox .marker-icon-selector {
	position: absolute;
	left: 0;
	right: 0;
	height: 300px;
	margin-bottom: 10px;
	overflow: hidden;
}

#marker-icon-metabox .marker-icon-selector.editing {
	cursor: crosshair;
	background: #ccc;
}

#marker-icon-metabox .marker-icon-selector .point {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
	background: rgba(0,0,0,0.5);
}

#marker-icon-metabox .marker-icon-selector .console {
	display: none;
	margin: 0;
}

#marker-icon-metabox .marker-icon-selector .console .x-console,
#marker-icon-metabox .marker-icon-selector .console .y-console {
	font-size: 10px;
	line-height: 12px;
	padding: 0 1px;
	background: #eee;
}

#marker-icon-metabox .marker-icon-selector button.use-default {
	position: absolute;
	bottom: 5px;
	right: 67%;
	left: 5px;
}


#marker-icon-metabox .marker-icon-selector button.cancel {
	position: absolute;
	bottom: 5px;
	left: 34%;
	right: 34%;
}
#marker-icon-metabox .marker-icon-selector button.save {
	position: absolute;
	bottom: 5px;
	left: 67%;
	right: 5px;
}

#marker-icon-metabox .marker-icon-selector.editing .console {
	display: block;
}

#marker-icon-metabox .marker-icon-selector img {
	position: absolute;
	top: 50%;
	left: 50%;
}

#marker-icon-metabox .marker-icon-settings {
	display: none;
}

#marker-icon-metabox .marker-icon-setting {
	width: 33%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 0 0 40px;
}

#marker-icon-metabox .marker-icon-selector .console {
	font-size: 12px;
	line-height: 12px;
	padding: 2px;
}